<div>
    <h2 id="page-heading">
        <span jhiTranslate="dbgestionPhaApp.destination.home.title">Destinations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-destination" [routerLink]="['/destination/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="dbgestionPhaApp.destination.home.createLabel">
            Create new Destination
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="destinations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dbgestionPhaApp.destination.population">Population</span></th>
            <th><span jhiTranslate="dbgestionPhaApp.destination.medicament">Medicament</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let destination of destinations ;trackBy: trackId">
                <td><a [routerLink]="['/destination', destination.id, 'view' ]">{{destination.id}}</a></td>
                <td>{{destination.population}}</td>
                <td>
                    <div *ngIf="destination.medicament">
                        <a [routerLink]="['../medicament', destination.medicament?.id, 'view' ]" >{{destination.medicament?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/destination', destination.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/destination', destination.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'destination', { outlets: { popup: destination.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
